:root {
	--blue: #3ea1db;
	--blue-dark: #574ae8;
	--white: #fff;
	--title: #313131;
	--text: #b6b6b6;
	--darker-text: #595959;
	--background: #d6efff3d;
	--linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--background);
	font-family: "Inter", sans-serif;
}

header {
	width: 100%;
	height: 200px;
	background: var(--linear);
}

.header-container {
	max-width: 900px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 auto;
}

.header-links {
	display: flex;
	justify-content: space-around;
}

.header-links a {
	color: var(--white);
	font-size: 2.7em;
	font-weight: 600;
}

.header-search {
	width: 100%;
	height: 60px;
	align-self: center;
	position: relative;
}

.header-search i {
	position: absolute;
	top: 20px;
	left: 30px;
	font-size: 2rem;
	color: var(--white);
}

.header-search input[type="text"] {
	width: 95%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.3);
	padding-left: 6rem;
	font-size: 1.6rem;
	margin: 0 8px;
}

.header-search input[type="text"]::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container {
	max-width: 1440px;
	margin: 0 auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.post {
	width: 900px;
	padding: 25px 30px;
	margin: 30px 10px;
	box-shadow: 1px 1px 10px rgba(20, 20, 30, 0.1);
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	background-color: var(--white);
}

.post:hover {
	box-shadow: 1px 1px 10px rgba(15, 15, 25, 0.2);
}

.post-data {
	font-weight: bold;
	font-size: 1.6rem;
	line-height: 2.5rem;
	color: var(--text);
}

.post-title {
	font-weight: bold;
	font-size: 2rem;
	line-height: 3.5rem;
	color: var(--title);
}

.post-content {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2.5rem;
	color: var(--darker-text);
}

.post-data-heart {
	display: flex;
	justify-content: space-between;
}

.post-data-heart i {
	color: var(--blue);
	font-size: 2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
	width: 100%;
	height: 100px;
	background: var(--linear);
	color: rgba(255, 255, 255, 0.3);
	line-height: 100px;
	font-size: 1.6rem;
	text-align: center;
}
